<section class="container center">

    <form #loginForm="ngForm" class="form" (ngSubmit)="onSubmit()">
        <h2>Welcome back!</h2>
        <p>Log in to your account</p>

        <label for="email">Email Address
            <input type="email" [(ngModel)]="formData.email" placeholder="Enter your email" name="email" required>
        </label>
        <label for="password">Password
            <input type="password" [(ngModel)]="formData.password" placeholder="*******" name="password" required>
        </label>
        <button [disabled]="isSubmitting">
            <span *ngIf="!isSubmitting">Log In</span>
            <app-loader *ngIf="isSubmitting" [size]="25"></app-loader>
        </button>
        <p>If you don't have an account, <a routerLink="/signup">sign up.</a></p>
    </form>
</section>